.rv-20-banner_slide.background-image-1 {
    background-image: url('farmbg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .rv-20-banner_slide.background-image-2 {
    background-image: url('farmbg.jpg');
    background-size: cover;
    background-position: center;
  }
  