.rv-20-banner_slide.background-image-1 {
  background: url('/public/assets/img/slider/home-6-banner-bg-1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100px; /* Adjust height as needed */
}

.rv-20-banner_slide.background-image-2 {
  background: url('/public/assets/img/slider/home-6-banner-bg-1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100px; /* Adjust height for the second slide */
}
  